<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
	 
	 <!--优惠卷接口 -->
 	<!--<dubbo:service interface="com.suixingpay.mpos.core.dubbo.api.discount.DiscountDubbo"-->
		<!--ref="discountDubbo" version="1.0.0" />-->
	<!--<bean id="discountDubbo" class="com.suixingpay.mpos.core.dubbo.provider.discount.DiscountDubboImpl" />-->


</beans>