<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:dubbo="http://code.alibabatech.com/schema/dubbo" xmlns:util="http://www.springframework.org/schema/util"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
        http://code.alibabatech.com/schema/dubbo  
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util-4.3.xsd">

  <beans>
    <!--<dubbo:application name="${suixingpay.dubbo.application.name}" />-->
    <!--<dubbo:registry protocol="${suixingpay.dubbo.registry.protocol}" address="${suixingpay.dubbo.zookeeper.address}" />-->
    <!--<dubbo:protocol name="${suixingpay.dubbo.protocol.name}" port="${suixingpay.dubbo.protocol.port}" />-->
    <dubbo:monitor protocol="registry" />
    <import resource="spring-dubbo-provider.xml" />
    <import resource="spring-dubbo-consumer.xml" />
  </beans>
</beans>