<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<!--&lt;!&ndash; 调用mpos-front-初始化结算单需要信息 &ndash;&gt;
	<dubbo:reference id="mposToMposCoreDubbo" interface="com.lemon.mpos.dubbo.MposToMposCoreDubbo"  check="false" timeout="60000" retries="0"/>

    &lt;!&ndash; 会员信息接口 &ndash;&gt;
    <dubbo:reference id="memberBaseInfoDubbo" interface="com.suixingpay.mpos.member.dubbo.api.MemberBaseInfo.MemberBaseInfoDubbo"  check="false"  timeout="20000" retries="0"/>-->
</beans>